header{
    background-color: purple;
    text-align: center;
    flex: 1;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
    border: 8px solid black;
    margin: 15px;
}
.sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 402px;
    background-color: aqua;
    border: 8px solid black;
    margin-top: 15px;
    flex: 1;
    padding: 15px;
    margin: 15px;
}
.container{
    font-size: 25px;
    padding: 15px;
}

.container-main{
    display: flex;
}
.contect-1{
    height: 20vh;
    background-color: #fff;
    margin-top: 15px;
    border: 8px solid black;
    padding: 15px;
    margin: 15px;

}
.card{
    display: flex;
    margin: 15px;
}
.cards{
    flex: 3;
    
}
.contect-1{
    margin-top: 15px;
    flex: 1;
    background-color: aqua;
    height: 28vh;
    border: 8px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 15px;

    
}
.contect-2{
    margin-top: 15px;
    flex: 1;
    background-color: aqua;
    height: 30vh;
    border: 8px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 15px;

}

.contect-3{
    flex: 1;
    background-color: aqua;
    height: 30vh;
    border: 8px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 15px;


}
.fooder{
    background-color: purple;
    text-align: center;
    flex: 1;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
    border: 8px solid black;
    
    
}
footer{
    font-size: 30PX;
    flex: 1;
}
body{
    background-color: rgb(148, 135, 135);
}